<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ProductionFlag=" value="NO"/>
  </appSettings>
  <system.web>

    <httpRuntime maxUrlLength="109990" maxQueryStringLength="2097151" requestPathInvalidCharacters="*,?" />
    <compilation debug="true" targetFramework="4.5" />
    
    
    
    
  </system.web>
  <system.serviceModel>




    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="EndpBehavior">
          <webHttp />


        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="LicenseSearchSoap">
          <security mode="Transport" />
        </binding>
        <binding name="LicenseSearchSoap1" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" maxBufferSize="2097151"
          maxBufferPoolSize="2097151" maxReceivedMessageSize="2097151"
          transferMode="Buffered" useDefaultWebProxy="true" crossDomainScriptAccessEnabled="true">
          <readerQuotas maxDepth="32" maxStringContentLength="2097151"
            maxArrayLength="2097151" maxBytesPerRead="2097151" maxNameTableCharCount="2097151" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>

    <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />-->


    <services>
      <service behaviorConfiguration="ServiceBehavior" name="QP_Services.QualityPartners">

        <endpoint address="" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" behaviorConfiguration="EndpBehavior" name="httpEndPoint" contract="QP_Services.IQualityPartners" />
      </service>
    </services>

    
    
    
    
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
      <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    

    <security>
            <requestFiltering allowDoubleEscaping="true">
                
                <requestLimits maxUrl="409600000" maxQueryString="20480000" />
            </requestFiltering>
     
      
    </security>
    
    
    
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
